<div class="header">
            <div class="header-container">
                <h1 class="title" ><a>{{#link-to 'firstpage'}}Book Shelves{{/link-to}}</a></h1>
                <ul class="nav">
                    <li><a href="publish">Publish</a></li>
                    <li><a href="content">My Shelves</a></li>
                    <li><a href="home">Books</a></li>
                </ul>
            </div>
</div>