<div class="content">
    <div class="section">
        <div class="background-image"></div>
            <div class="cards">
                <img src="assets/images/percy.jpeg">
            </div>

            <p>Percy Jackson and the Olympians: The Lightning Thief</p>

        <div class="description">
            <h3> Twelve-year-old Percy Jackson is on the most dangerous quest of his life. With the help of a satyr and a daughter of Athena, Percy must journey across the united States to catch a thief who has stolen the original weapon of mass destruction - Zues's master bolt. Along the way, he must face a host of mythological enemies determined to stop him. Most of all, he must come to terms with a father he has never known, and an Oracle that has warned him of betrayal by a friend.</h3>
        </div>
       
    </div>

</div>

{{outlet}}