<div class="loginbox">
		<img src="assets/images/avatar1.png" class="avatar">
			<h1>Login Here</h1>
			<form>
				<h3>Username</h3>
				<input type="text" name="" placeholder="Enter Username">
				<h3>Password</h3>
				<input type="password" name="" placeholder="Enter Password" >
				<input type="submit" name="" value="Login"{{action 'pressed'}} >
				<a href="#">Lost your password?</a><br>
				<a href="#">Don't have an account?</a>
			</form>
	</div>
		

{{outlet}}